html {
    background: url('./images/bg.jpeg');
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.navBarwLogin {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.login {
    padding-left: 20px;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 8px;
}

.navItems {
    display: inline-flex;
    background-color: rgba(236, 90, 5, 0.991);
    font-size: 24px;
    text-decoration: none;
    width: fit-content;
    padding-left: 20px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 8px;
    border-radius: 20px;
    margin: 15px;
    color: white;
}

.navItems img {
    width: 40px;
    height: 35px;
    margin-right: 15px;
}

.welcomeBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(247, 247, 238);
    min-width: 900px;
    min-height: 700px;
    border-radius: 15px;
}

.welcomeTitle {
    background-color: rgb(84, 150, 209);
    min-height: 50px;
    padding: 5px;
    margin: 15px;
    border-radius: 15px;
    color: white;
    font-size: 48px;
    text-align: center;
}

.welcomeIntro {
    display: flex;
}

.welcomeGreeting {
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 35px;
    margin-left: 20px;
    margin-right: 20px;
}

.villagerBox {
    display: flex;
    flex-wrap: wrap;
    margin: 3%;
    padding: 3%;
    background-color: #f0f5ec;
    border-radius: 10px;
}

.villager {
    width: 24%;
    height: 36%;
    font-size: 20px;
    justify-content: space-evenly;
    border-style: solid;
    padding: 2%;
    margin: 2%;
    border-radius: 15px;
}

.villagerName {
    font-size: 18px;
}

.villager img {
    width: 120px;
}